# OS
.DS_Store

# Virtual environment
.venv/

# Build output
dist/
build/
*.egg-info/

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# for testing the fetch function of this package itself
tprdb-mothership-clone/
test_fetcher_single.py
tests/